html body {
    display: block;
    margin: 40px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    color: rgb(41, 221, 205);
    background-color: rgb(14, 23, 41);
  }

h1 {
  text-align: center;
    color: red;
}

h2 {
  text-align: left;
    color: red;
}
p {
  text-align: justify;
    
}

.gallery {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px;
  
}
.gallery-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-img:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}
