html body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    color: rgb(41, 221, 205);
    background-color: rgb(14, 23, 41);
  }

h1 {
  text-align: center;
    color: red;
}

p {
  text-align: justify;
    
}